.card-list {
    width: auto;
    margin: 4px;
    display: flex;
    flex-direction: row;
}

.example-header-image {
    background-size: cover;
}

.mat-card-header {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.labels {
    text-align: center;
    position: relative;
    align-items: center;
}
.p-10 {
    padding: 10px;
}